 <header>
 <nav class="navbar navbar-fixed-top navbar-inverse">
 <div class="container">
 <ul class="nav navbar-nav navbar-left">
 <li class="dropdown">
 <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-th-list" style="font-size: 50px"></span></a>
 <ul class="dropdown-menu">
 <li><%= link_to "Shop",  {:controller => "shop", :action => "home"} %></li>
 <li><%= link_to "Men",  {:controller => "shop", :action => "men"} %></li>
 <li><%= link_to "Women", {:controller => "shop", :action => "women"} %></li>
 <li><%= link_to "Kids", {:controller => "shop", :action => "kids"} %></li>
 <li><%= link_to "New-in", {:controller => "shop", :action => "new_in"} %></li>
 <li class="divider"></li>
 <li><%= link_to "Saved", {:controller => "saveds", :action => "index"} %></li>
 <li class="divider"></li>
 <li><%= link_to "Help&Support", {:controller => "shop", :action => "help"} %></li>
 </ul>
 </li>
 </ul>
 <ul class="navbar-brand navbar-left"><a href="#" class="navbar-brand" style= "font-size: 50px;"><%= yield(:title) %></a></ul>
 <ul class="navbar-brand navbar-right"><a href="#" class="navbar-brand" style= "padding-top:0" ><span class="glyphicon glyphicon-search" style="font-size: 50px"></span></a></ul>
 <ul class="navbar-brand navbar-right"><a href="/shoppingbag" class="navbar-brand" style= "padding-top:0"><span class="glyphicon glyphicon-shopping-cart" style="font-size: 50px"></span></a></ul>
 </div>
</nav>
</header>